*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# VS Code specific files
.vscode/
*.code-workspace
.history/
.vscode-test/
*.vsix


# Build files and directories
.build
/build
/captures
.externalNativeBuild
.cxx
bin/
*/bin/

# Project specific
Cyan-FTC.code-workspace
local.properties
